body {
    font-family: 'Roboto', sans-serif;
    margin: 0; 
    display: grid; 
    grid-template-areas: 'navbar navbar navbar' 
                         'section section aside' 
                         'section section aside'
                         'footer footer footer';
    grid-template-rows: 9vh 30vh 30vh 30vh; /*altura do view é 100*/
    grid-gap: 0px;
}

nav{
    grid-area: navbar;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    font-size: 16pt;
    color: white;
}

section{
    grid-area:section;
    background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}

section img{
    height:150px;
    width:150px;
    border-radius: 100%;
    /*prioridade (se fica por cima ou por baixo etc
    z-index: 10;*/
}

section h1 {
    color: white;
}

aside{
    padding:10px;
    grid-area:aside;
    background-color: chartreuse;
    display: flex;
    justify-content: space-around;
    justify-content: center;
}
footer{
    grid-area:footer;
    background-color: crimson;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer a{
    color#fff;
}

.redeSocial {
    display:flex;
    width:100px;
    height:40%;
    justify-content: space-around;
    }

.links {
    display:flex;
    justify-content: space-between;
}

.links a {
    padding: 10px;
}

.imgrede{
    width:50px;
    height:50px;
}

#menuHamburguer{
    display: none; 
    flex-direction: column; /*para ficar um em cima do outro, temos q colocar em formato de coluna. Em formato de linha ficaria um do lado do outro */
    justify-content: space-between;
    height: 30px;
    width: 30px;
}

.trace{
    background-color: white;
    height: 3px;
    width: 100%; /*100% do pai (menuHamburguer), ou seja, 30px;*/
    border-radius: 40px;
}

/*breakpoint*/
/*------------------TABLET---------------*/
@media(max-width:768px){
    #menuHamburguer{
        display: flex;
    }
    nav a{
        display: none;
    }
    nav{
        background-color: black;
        align-items: center;
    }
    body {
        grid-template-areas: 'navbar navbar navbar' 
                             'section section aside ' 
                             'section section aside'
                             'footer footer footer';
        grid-template-rows: 9vh 30vh 30vh 30vh;
        }
    .links {
       flex-direction: column;
    }
}
/*------------------CELULAR---------------*/
@media(max-width:468px){
    #menuHamburguer{
        margin-left: 10px;
    }

    nav{
        background-color: lightseagreen;
        justify-content:left;
    }

    body {
        grid-template-areas: 'navbar navbar navbar' 
                             'section section section ' 
                             'aside aside aside'
                             'footer footer footer';
        grid-template-rows: 9vh 50vh 50vh 50vh;
    }

    section img{
        height:50px;
        width:50px;
        border-radius: 100%;
        /*prioridade (se fica por cima ou por baixo etc
        z-index: 10;*/
    }
}